:host {
    width: 100%;
    font-family: Calibri;

    .fa {
        color:#107ba4;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:1rem 0 1rem 0;
    }

    .no-notes{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding:1rem;
        border-bottom: 0.1rem solid #bdbdbd;
    }

    .container {
        display: flex;
        flex-direction: row;

        .notes {
            border-bottom: 0.1rem solid #bdbdbd;
            display: flex;
            background-color:rgba(95,55,119,0.1);
            padding: 1rem;
            width: 100%;

            .title {
                font-size: 1.2rem;          
                color: #606060;
                font-weight: bold;
            }
    
            .value {
                font-size: 1.4rem;
                padding-right: 1.5rem;

                &.text {
                    color: #606060;
                    font-weight: bold;
                }

                &.note {
                    flex:1;
                    color: #333;
                } 

                &.createBy {
                    color: #333;
                    font-weight: normal;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

