<mat-toolbar>
  <mat-checkbox color="primary" class="checkbox-group" checked="systemChecked" (click)="toggleSystemNotes()">System Notes &nbsp;</mat-checkbox>
  <mat-checkbox color="primary" class="checkbox-group" checked="userChecked" (click)="toggleUserNotes()">User Notes</mat-checkbox>
  <span class="spacer"></span>

  <div class="actions-wrapper">
    <span class="search-wrapper">
        <input type="text" class="search-field" placeholder="Search"
        [(ngModel)]="searchValue" (input)="Search()"/>
        <button mat-icon-button matSuffix class="search-button">
          <em class="fa fa-search"></em>
        </button>
    </span>
  </div>
  <span class="spacer"></span>
  <button id="button-new" mat-stroked-button>
      <em class="fa fa-plus" aria-hidden="true"></em>&nbsp; New
  </button>
</mat-toolbar>

 <kendo-grid
    id="notesGrid"
    [kendoGridBinding]="gridData" 
    [width]="600"
    [height]="gridHeight"
    [pageable]="true"  
    [pageSize]="pageSize" 
    [sortable]="true"
    [rowClass]="rowCallback">
    <kendo-grid-column field="history" title="History" width="100">
      <ng-template kendoGridCellTemplate let-dataItem let-column>
          <em class="fa fa-history history-column"></em>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="NoteSk" title="Note ID" width="150">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="associatedId" title="Associated ID" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="associatedIdType" title="Associated ID Type" width="250">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="module" title="Module" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="category" title="Category" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="NoteTitle" title="Title" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="SendToCallCtrInd" title="Send To Call Center" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="loadingType" title="Loading Type" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column> 
    <kendo-grid-column field="CreatedDate" title="Creation Date" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CreatedDate" title="Created By" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedDate" title="Modified Date" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedBy" title="Modified By" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
      <ng-template kendoGridDetailTemplate let-dataItem>
        <p>{{dataItem.Note}}</p>
      </ng-template>
</kendo-grid>
