<mat-toolbar>
  <mat-checkbox color="primary" class="checkbox-group" checked="systemChecked" (click)="toggleSystemNotes()">System Notes &nbsp;</mat-checkbox>
  <mat-checkbox color="primary" class="checkbox-group" checked="userChecked" (click)="toggleUserNotes()">User Notes</mat-checkbox>
  <span class="spacer"></span>

  <div class="actions-wrapper">
    <span class="search-wrapper">
        <input type="text" class="search-field" placeholder="Search"
        [(ngModel)]="searchValue" (input)="Search()"/>
        <button mat-icon-button matSuffix class="search-button">
          <em class="fa fa-search"></em>
        </button>
    </span>
  </div>

  <span class="spacer"></span>
  <button 
    (click)="openSingleRowEdit(0, true)" 
    mat-stroked-button
    id="button-new"
    [disabled]="!!gridEditMode || isArchive">
      <em class="fa fa-plus" aria-hidden="true"></em>&nbsp; New
  </button>
</mat-toolbar>

 <kendo-grid
    id="notesGrid"
    [kendoGridBinding]="gridData" 
    [width]="600"
    [height]="gridHeight"
    [pageable]="true"  
    [pageSize]="pageSize" 
    [sortable]="true"
    [rowClass]="rowCallback">

    <ng-template kendoGridNoRecordsTemplate>
      {{ gridData.length === 0 && gridLoading === false ? 'No records available.' : ''}}
    </ng-template>

    <kendo-grid-column field="edit" title="Edit" width="50" class="button-cell" [sortable]="false">
      <ng-template kendoGridCellTemplate let-rowIndex="rowIndex" let-dataItem="dataItem">
        <span>
          <button
            [id]="'pb-aol-config-edit-btn-' + rowIndex"
            *ngIf="editModeRowIndex !== rowIndex"
            mat-icon-button color="primary"
            [disabled]="gridEditMode || isArchive"
            (click)="openSingleRowEdit(rowIndex)">
            <i class="fa fa-edit"></i>
          </button>  
          <button
            [id]="'pb-aol-config-cancel-btn-left-' + rowIndex"
            *ngIf="editModeRowIndex === rowIndex"
            (click)="checkForm(rowIndex)"
            mat-icon-button
            color="warn"
            [disabled]="savingEntry">
            <i class="fa fa-window-close"></i>
          </button>  
        </span>
      </ng-template>
      </kendo-grid-column>

      <kendo-grid-column 
    title="History"
    [width]="gridEditMode ? 85 : 70"
    class="history-cell button-cell"
  >
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex" let-dataItem="dataItem">
      <span [ngClass]="{'expanded-cell': expandedHistoryMap.get(dataItem.TmpltDataSrchSK)}">
        <button
          [id]="'pb-aol-config-history-btn-' + rowIndex"
          *ngIf="editModeRowIndex !== rowIndex"
          mat-icon-button
          color="primary"
          [disabled]="dataItem.CreatedTs === dataItem.ModifiedTs"
          (click)="toggleHistoryRow(rowIndex, dataItem)">
          <i class="fa fa-history"></i>
        </button>  

        <button
          [id]="'pb-aol-config-save-btn-' + rowIndex"
          *ngIf="editModeRowIndex === rowIndex"
          mat-raised-button
          color="primary"
          class="pb-aol-config-grid-save-btn"
          (click)="onSaveEntry(rowIndex, dataItem)"
          [disabled]="formGroup.pristine || formGroup.invalid || savingEntry"> 
          <i [ngClass]="{'fa': true, 'fa-save': !savingEntry, 'fa-spin': savingEntry, 'fa-spinner': savingEntry}">
          </i> &nbsp; Save
        </button>
      </span>
    </ng-template>
  </kendo-grid-column>

    <kendo-grid-column field="NoteSk" title="Note ID" width="150">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="NoteTitle" title="Title" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-rowIndex="rowIndex">
        <mat-form-field appearance="outline" class="cell-form-field">
          <input 
            [id]="'ss-notes-ui-noteTitle-row-' + rowIndex"
            placeholder="*"
            [formControl]="formGroup.get('NoteTitle')" 
            matInput 
            required>
        </mat-form-field>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="module" title="Module" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-rowIndex="rowIndex">
        <mat-form-field appearance="outline" class="cell-form-field">
          <input 
            [id]="'ss-notes-ui-module-row-' + rowIndex"
            placeholder="*"
            [formControl]="formGroup.get('module')" 
            matInput 
            required>
        </mat-form-field>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="category" title="Category" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-rowIndex="rowIndex">
        <mat-form-field appearance="outline" class="cell-form-field">
          <input 
            [id]="'ss-notes-ui-category-row-' + rowIndex"
            placeholder="*"
            [formControl]="formGroup.get('category')" 
            matInput 
            required>
        </mat-form-field>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="SendToCallCtrInd" title="Send To Call Center" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-rowIndex="rowIndex" let-dataItem>
        <div *ngIf="dataItem.SendToCallCtrInd === 1; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Yes</ng-template>
        <ng-template #elseBlock>No</ng-template>
      </ng-template>
      <ng-template kendoGridEditTemplate let-rowIndex="rowIndex" let-dataItem>
        <mat-radio-button>
          <input 
            type="radio"
            [value]=1
            [(ngModel)]='dataItem.SendToCallCtrInd'
            [id]="'ss-notes-ui-sendToCallCenterYes-row-' + rowIndex">
            <span>Yes &nbsp; </span>
        </mat-radio-button>
        <mat-radio-button>
          <input 
            type="radio"
            [value]=0
            [(ngModel)]='dataItem.SendToCallCtrInd'
            [id]="'ss-notes-ui-sendToCallCenterNo-row-' + rowIndex">
            <span>No</span>
        </mat-radio-button>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="associatedId" title="Associated ID" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="associatedIdType" title="Associated ID Type" width="250">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="loadingType" title="Loading Type" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-rowIndex="rowIndex" let-dataItem>
        <mat-form-field appearance="outline" class="cell-form-field">
          <input 
            [id]="'ss-notes-ui-loadingType-row-' + rowIndex"
            placeholder="Manual"
            [(ngModel)]='dataItem.loadingType' 
            matInput 
            disabled>
        </mat-form-field>
      </ng-template>
    </kendo-grid-column> 
    <kendo-grid-column field="CreatedDate" title="Creation Date" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CreatedBy" title="Created By" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedDate" title="Modified Date" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="modifiedBy" title="Modified By" width="200">
      <ng-template kendoGridHeaderTemplate let-column="column">
        {{column.title}}
        <span class="column-sort-icon-container">
              <i class="fa fa-ellipsis-v"></i>
      </span>
      </ng-template>
    </kendo-grid-column>
    <ng-template kendoGridDetailTemplate let-rowIndex="rowIndex" let-dataItem>
      <div *ngIf="gridEditMode; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock kendoGridDetailTemplate kendoGridEditTemplate let-rowIndex="rowIndex">
          <mat-form-field appearance="outline" class="cell-form-field">
            <input 
              [id]="'ss-notes-ui-note-row-' + rowIndex"
              placeholder="{{dataItem.Note}}"
              [(ngModel)]='dataItem.Note'
              matInput>
          </mat-form-field>
        </ng-template>
        <ng-template #elseBlock><p>{{dataItem.Note}}</p></ng-template>
    </ng-template>
</kendo-grid>
